body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../images/gettyimages-1610545851.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;

}
.container {
    padding-left: 20px;
    padding-right: 47px;
    border-radius: 8px;
    background: linear-gradient(4deg, rgba(255, 255, 255, 0.306), rgba(3, 254, 195, 0.114)),rgba(255, 255, 255, 0.265);
     background-color: white;
    box-shadow: 0 5px 6px black;
    width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  h1 {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    color: rgb(2,87,67);
  
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }
  
  label {
    text-align: left;
    font-size: 0.9rem; 
    color: rgb(2,87,67);
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 0.8rem;
    font-size: 1rem;
    border: 0.1px solid rgb(2,87,67);
    border-radius: 4px;
    width: 100%;
    background: transparent;
    color:  rgb(2,87,67);
  }
  input:focus {
    border: 0.1px solid white;
    outline: 3px solid rgb(8, 187, 145) ;
  }
  
  ::placeholder {
    color: rgba(72, 166, 166, 0.559);
  }
  
  p {
    color: rgb(2,87,67);
  }
  
  button {
    padding: 0.8rem;
    font-size: 1rem;
    background-color: rgb(2,87,67);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 12px;
    margin-left: 23px;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: rgb(8, 187, 145);
  }
  .error {
    color: #FD1C03;
    font-size: 13px;
    margin-bottom: 2px;
    text-align: left;
    display: none;
  }
  